<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luquitek</title> 
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">home</a>|</li>
                    <li><a href="productos.html">productos</a></li>
                    <li><a href="#l"></a>Contacto</li>
                    <li><a href="#"></a>Nosotros</li>
                    <li><a href="#">Asistencia Tecnica</a></li>
           
            </ul>        
<section>
    <article>
        <div>
        <p>Es una empresa pensada y concebida con la finalidad de implementar la más alta tecnología de punta dedicada al ascensor. Conociendo a la perfección las respuestas que necesitan las empresas del sector, hemos desarrollado una placa de control basada en un micro controlador de última generación con una amplia gama de funciones programables, que hacen de esta placa una excelente opción al momento de decidir que tipo de maniobra necesitar el instalador o el mantenedor.</p>
        </div>
    <h1>Luquitek Srl</h1>
        <h2>Productos</h2>
    <ul>
        <li>Controles de maniobra</li>
        <li>Botoneras</li>
        <li>indicadores</li>
        <li>Placas</li>
    </ul>

    
    <h3>Certificacion iram</h3>

    <footer>Pagina realizada por Lucas Acuña</footer>
    

    
</body>
</html>